html, body {
    font-family: 'Playfair';
    margin: 0;
    padding: 0;
    font-size: 16px;
    width: 100%;
    height: 100%;
}

.name {
    border: 2px solid black;
    margin: 2px;
}

.nav {
    text-align: right;
}

.text-red {
    color: rgb(175, 121, 19);
}

.text-uppercase {
    text-transform: uppercase;
}

.bg-gray {
    background-color: lightgray;
}

.about {
    height: 20em;
}

.left {
    float: left;
}

.right {
    border: 2px solid black;
}

@font-face {
    font-family: 'Playfair';
    src: url('assets/Font/PlayfairDisplay-Bold.woff') format('woff'),
    url('assets/Font/Playfair Display 700.ttf') format('truetype');
}

.foot-uppercase {
    text-transform: uppercase;
    text-align: center;
}
