html, body {
    font-family: 'Playfair';
    margin: 0;
    padding: 0;
    font-size: 16px;
    width: 100%;
    height: 100%;
}

.name {
    border: 2px solid black;
    margin: 2px;
}

.nav {
    text-align: right;
}

.text-red {
    color: rgb(175, 121, 19);
}

.text-uppercase {
    text-transform: uppercase;
}

.bg-gray {
    background-color: lightgray;
}

.about {
    height: 20em;
}

.left {
    float: left;
}

.right {
    border: 2px solid black;
}

@font-face {
    font-family: 'Playfair';
    src: url('assets/Font/PlayfairDisplay-Bold.woff') format('woff'),
    url('assets/Font/Playfair Display 700.ttf') format('truetype');
}

.experience {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    grid-gap: 10px; 
}

.foot { 
    display: grid;
    grid-template-columns: 100px 300px 100px;
    grid-gap: 10px; 
    border-top: 2px solid black;
    text-align: center;
}

.foot-uppercase {
    text-transform: uppercase;
}

.footer {
    border-radius: 5px;
    padding: 40px;
    font-size: 100%;
    height: 70%;
    width: 100%;
}

.container {
    position: relative;
    width: 100%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0s ease;
    background-color: white;
    opacity: 0;
  }
  
  .container:hover .overlay {
    opacity: 0.7;
  }
  
  .text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .work {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 10px;
  }
  
  .container {
    border-radius: 5px;
    padding: 40px;
    font-size: 150%;
  }
