html, body {
    font-family: 'Playfair';
    margin: 0;
    padding: 0;
    font-size: 16px;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'Playfair';
    src: url('assets/Font/PlayfairDisplay-Bold.woff') format('woff'),
    url('assets/Font/Playfair Display 700.ttf') format('truetype');
}

.navbar {
    margin: 8px;
    padding: 4px;
    border: 2px solid black;
}

.name {
    width: 80px;
    float: left;

}

.nav {
    text-align: right;
    word-spacing: 16px;
}

.hero {
    border: 2px solid black;
    margin: 8px;
    background-color: rgb(230, 183, 130);
}

.man{
    margin: 4em;
    display: block;
    position: relative;
}

.whoami {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    text-align: right;
}

.text-red {
    color: rgb(13, 17, 26);
    font-size: 40pt;
}

.text-uppercase {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.about {
    background-color: rgb(209, 208, 208);
    margin: 8px;
    border: 2px solid black;
    overflow: auto;
}

.aboutleft {
    border: 2px solid black;
    text-align: center;
    float: left;
    width: 35%;
    margin: 2%;
}

.abouthello {
    font-size: 40pt;
}

.aboutname {
    color: rgb(19, 18, 18);
}

.aboutrepeat {
    color: rgb(92, 90, 90);
}

.aboutright {
    background-color: white;
    text-align: center;
    width: 45%;
    margin: 5%;
    padding: 8px;
    float: right;
    border: 2px solid black;
}

.experience {
    border: 2px solid black;
    margin: 8px;
    justify-content: center;
    display: grid;
    grid-template-columns: 300px 300px, 300px;
    grid-gap: 5px;
    font-size: 12px;
}

.exp {
    border: 2px solid black;
    margin: 5px;
    align-content: center;
    text-align: center;
    display: grid;
    padding: 5px;
    /* grid-template-columns: 300px; */
    /* grid-gap: 1px; */
    float: left;
}

.chain {
    height: 2em;
    width: 2em;
    float: left;
}

.language {
    border: 2px solid black;
    margin: 8px;
    justify-content: center;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 10px;
  }

.image {
    display: flex;
    width: 100%;
    height: auto;
    margin: 4px;
  }

.data {
    border: 2px solid black;
    margin: 8px;
    padding: 2em;
    text-align: center;
}

.footer {
    border: 2px solid black;
    margin: 4px;
    padding: 4px;
    justify-content: center;
    text-align: center;
}

.foot-uppercase {
    text-transform: uppercase;
}
